[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "contrast"]
	path = contrast
	url = https://github.com/alanocallaghan/contrast
	shallow = true
	registered = true
[submodule "densvis"]
	path = densvis
	url = https://github.com/alanocallaghan/densvis
	shallow = true
	registered = true
[submodule "snifter"]
	path = snifter
	url = https://github.com/alanocallaghan/snifter
	shallow = true
	registered = true
